[tool.poetry]
name = "theine"
version = "0.1.2"
description = "high performance in-memory cache"
authors = ["Yiling-J <njjyl723@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = "^4.4.0"
theine-core = "^0.1.5"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
pytest-benchmark = "^4.0.0"
typing-extensions = "^4.4.0"
mypy = "^1.0.0"
django = "^3.2"
pytest-django = "^4.5.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
